h1 main app
form(action="/op" method="post")
    button.btn.btn-primary.m-3(type="submit" name="op1") operation 1
    button.btn.btn-primary.m-3(type="submit" name="op2") operation 2 empty value
    button.btn.btn-primary.m-3(type="submit" name="op2" value="value1") operation 2 with value